@media (max-width: 600px){
    .title {
      font-size: 2rem !important;
    }}
    @media only screen and (min-width: 768px){
    #first-circle{
      display: block;
      text-align: center;
      position: relative;
      margin-bottom: 10px;
    }}
    #first-circle::before{
      color: #ffc700;
    }
    #one {
      background-image: url(../images/test\ cards_1.jpg);
    }
    #two {
      background-image: url(../images/test\ cards_2.jpg);
    }
    #three {
      background-image: url(../images/test\ cards_3.jpg);
    }
    #four {
      background-image: url(../images/test\ cards_4.jpg);
    }
    .timeline ul li:nth-child(2n)::before:hover {
      transform: translate(-50%, -50%);
      left: 30px;
    }
    * {
        margin: 0px;
        padding: 0px;
        font-family: poppins;
        box-sizing: border-box;
        scroll-behavior: smooth;
    }
    
    ul {
        list-style: none;
    }
    
    a {
        text-decoration: none;
    }
    
    body {
        margin: 0px;
        padding: 0px;
        font-family: poppins;
        background-color: #001f52;
    }
    
    
    /*==main================================*/
    
    #main {
        width: 100%;
        min-height: 100vh;
        padding-bottom: 10px;
        position: relative;
    }
    
    .bg-video {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
    }
    
    .bg-video video {
        height: 100vh;
        width: 100%;
        object-fit: cover;
        position: fixed;
        bottom: 0px;
        z-index: -1;
        object-position: left bottom;
    }
    
    
    /*==Navigation=========================*/
    
    .navigation {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 45px 10px;
    }
    
    .nav-close,
    .nav-icon {
        display: none;
    }
    
    .menu {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .menu li {
        position: relative;
        margin: auto 12px;
    }
    
    .menu li::before,
    .main-play-btn::before {
        position: absolute;
        left: 34px;
        top: -8px;
        z-index: 3;
        content: '';
        background-image: url(../images/bg_btn.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 25px;
        width: 25px;
        height: 25px;
    }
    
    .menu li a, .main-play-btn {
      margin: 0px 20px;
      color: #ffffff;
      background: rgb(97 153 155) 100%);
      background: linear-gradient(30deg, #02e3ff 0%, rgb(28, 165, 254) 100%);
      width: 210px;
      height: 50px;
      display: flex;
      font-family: Fantasy;
      font-size: 1.4rem;
      text-transform: uppercase;
      justify-content: center;
      align-items: center;
      border-radius: 14px;
      text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.13);
      transform: translate3d(8px, -8px, 0);
      border: 2px solid #fff;
    }
    
    .menu li a:hover,
    .main-play-btn:hover {
        background: rgb(161, 161, 161);
        background: linear-gradient(97deg, rgba(12, 84, 87, 0.466) 0%, rgb(255, 255, 255) 100%);
        box-shadow: 0 8px 1px #19adfe;
    }
    
    
    /*===Socials==================================*/
    
    .main-social {
        display: grid;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 20px 10px;
        right: 10px;
        position: absolute;
    }
    
    .main-social a {
        color: #ffffff;
        width: 65px;
        height: 65px;
        display: grid;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        margin: 10px 0px;
        font-size: 2.1rem;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.09);
        z-index: 99;
    }
    
    .main-social a:hover {
        background-color: #ffffff6c;
    }
    
    .youtube-icon {
        background-color: #be0000;
    }
    
    .twitter-icon {
        background-color: #0026ff;
    }
    
    .insta-icon {
        background-color: #ca0033;
    }
    
    .telegram-icon {
        background-color: #005b85;
    }
    
    .tiktok-icon {
        background-color: #ff0050;
    }
    
    .discord-icon {
        background-color: #0010c4;
    }
    
    
    /*==Main-Logo=====================*/
    
    .main-logo {
        margin: 0px auto;
        max-width: 44%;
        width: 100%;
        margin-bottom: 30px;
        z-index: 99;
        position: relative;
    }
    
    .main-logo img {
        width: 100%;
        object-position: center;
        object-fit: contain;
    }
    
    
    /*==Play-Btn========================*/
    
    .main-play-btn {
        position: relative;
        margin: 80px auto;
        width: 280px;
        height: 60px;
        font-size: 2rem;
    }
    
    .main-play-btn::before {
        left: 5px;
        top: 0px;
    }
    
    
    /*==Main-Links======================*/
    
    .main-link {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 50px auto 20px auto;
    }
    
    .main-link a,
    .main-link span {
        color: #ffffff;
        font-size: 1rem;
        letter-spacing: 1px;
        margin: 0px 10px;
        z-index: 99;
    }
    
    .main-link a {
        text-decoration: underline;
    }
    
    
    /*==road-map===========================*/
    
    #road-map {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 40px 20px;
        background-color: #ff000000;
    }
    
    #road-map h2 {
      font-size: 3.5rem;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-family: Oduda;
      color: #ffc700;
      text-shadow: 0 5px 1px #ae7b1f;
    }
    
    .container {
        min-height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 100px 0;
        background-color: rgba(43, 43, 43, 0.486);
    }
    
    .timeline {
        width: 80%;
        height: auto;
        max-width: 800px;
        margin: 0 auto;
        position: relative;
    }
    
    .timeline ul {
        list-style: none;
    }
    
    .timeline ul li {
        padding: 20px;
        background-image: url(../images/test\ cards.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        color: white;
        border-radius: 10px;
        margin-bottom: 20px;
    }
    
    .timeline ul li:last-child {
        margin-bottom: 0;
    }
    
    .timeline-content h1 {
        font-weight: 500;
        font-size: 25px;
        line-height: 30px;
        margin-bottom: 10px;
    }
    
    .timeline-content p {
        font-size: 16px;
        line-height: 30px;
        font-weight: 500;
        stroke: #000000;
    }
    
    .timeline-content .date {
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 10px;
        letter-spacing: 2px;
    }
    
    #one,
    #two,
    #three,
    #four {
        background-color: #1e1f22;
    }
    
    #one:hover,
    #two:hover,
    #three:hover,
    #four:hover {
        transform: scale(1.001, 1.001);
    }
    
    #one:before,
    #two:before,
    #three:before,
    #four:before {
        background-color: #ffc700;
        box-shadow: 0 3px 1px #ae7b1f;
    }
    
    
    /*BuyCoins*/
    
    #but:hover {
        cursor: pointer;
        background: rgb(161, 161, 161);
        background: linear-gradient(97deg, rgba(12, 84, 87, 0.466) 0%, rgb(255, 255, 255) 100%);
        box-shadow: #464646 -0px 1px, #464646 -0px 2px, #404249 -0px 3px, #404249 -0px 4px, #404249 -0px 5px, #464646 -0px 6px, #404249 -0px 7px, #404249 -0px 8px, #404249 -0px 9px, #404249 -0px 10px, #404249 -0px 11px;
    }
    
    #but:before {
        position: absolute;
        left: 34px;
        top: -8px;
        z-index: 3;
        content: '';
        background-image: url(../images/bg_btn.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 25px;
        width: 25px;
        height: 25px;
    }
    
    #but {
        margin: 0px 20px;
        color: #ffffff;
        background: rgb(143, 143, 143);
        background: linear-gradient(97deg, #404249 0%, rgb(94, 96, 99) 100%);
        width: 210px;
        height: 50px;
        display: flex;
        font-family: Fantasy;
        font-size: 1.4rem;
        text-transform: uppercase;
        justify-content: center;
        align-items: center;
        border-radius: 14px;
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.13);
        transform: translate3d(8px, -8px, 0);
    }
    
    .fas {
        font-size: 20px;
    }
    
    #first {
        color: #ffc700;
        text-shadow: 0 3px 1px #ae7b1f;
    }
    
    #second {
      color: #588b8c;
      text-shadow: 0 2px 1px #9bb9ba;
    }
    
    
    /* Cards*/
    
    .card {
        background-image: url(../images/back_2.jpg);
        width: 21.25em;
        border-radius: 10px;
        padding: 25px;
        margin: 15px;
        transition: 0.5s ease;
        background-position: right;
    }
    
    .card:hover {
        transform: scale(1.1);
    }
    
    .icon {
        color: #0080ff;
        font-size: 8em;
        text-align: center;
    }
    
    .content .icon {
        font-size: 4.5em;
    }
    
    .info {
        text-align: center;
    }
    
    .info p {
        color: white;
    }
    
    .info h3 {
        color: #ffffff;
        font-size: 1.5em;
        font-weight: 700;
        margin: 10px;
    }
    
    .content .info h3 {
        text-transform: uppercase;
        font-family: Oduda;
        color: #ffc700;;
    }
    
    .content .info p {
        font-size: 1.3em;
    }
    
    .title {
    font-size: 3.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: Oduda;
    color: #ffc700;
    text-shadow: 0 5px 1px #ae7b1f;
    text-align: center;
    }
    
    .projects {
        background-color: #000016;
        background: url(images/BackGround.png);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }
    
    .content {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .projects .content {
        margin-top: 30px;
    }
    
    .projects .content {
        margin-top: 30px;
    }
    
    .projects {
        background-color: #000016;
        background: url(images/BackGround.png);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }
    
    .projects .content {
        margin-top: 30px;
    }
    
    .project-card {
        background-color: #1e1f22;
        border: 1px solid #677dc2;
        min-height: 14em;
        width: 23em;
        overflow: hidden;
        border-radius: 10px;
        margin: 20px;
        transition: .5s ease;
    }
    
    .project-card:hover {
        transform: scale(1.1);
    }
    
    .project-card:hover .project-image {
        opacity: 0.9;
    }
    
    .project-image img {
        width: 100%;
    }
    
    .project-info {
        padding: 1em;
    }
    
    .project-category {
        font-size: 0.9em;
        color: #000000;
    }
    
    .project-title {
        display: flex;
        justify-content: space-between;
        text-transform: uppercase;
        font-weight: 800;
        margin-top: 10px;
    }
    
    
    /*====Making-Road-Map-Resposnive=======================*/
    
    @media only screen and (min-width: 768px) {
        .timeline:before {
            content: "";
            position: absolute;
            top: -5px;
            left: 50%;
            transform: translateX(-50%);
            width: 2px;
            height: 100%;
            background-color: #5e5e5e;
        }
        .timeline ul li {
            width: 50%;
            position: relative;
            margin-bottom: 50px;
        }
        .timeline ul li:nth-child(odd) {
            float: left;
            clear: right;
            transform: translateX(-30px);
            border-radius: 20px 0px 20px 20px;
        }
        .timeline ul li:nth-child(even) {
            float: right;
            clear: left;
            transform: translateX(30px);
            border-radius: 0px 20px 20px 20px;
        }
        .timeline ul li::before {
            content: "";
            position: absolute;
            height: 20px;
            width: 20px;
            border-radius: 50%;
            top: 0px;
        }
        .timeline ul li:nth-child(odd)::before {
            right: -40px;
            top: -27px;
        }
        .timeline ul li:nth-child(even)::before {
            left: -40px;
            top: -27px;
        }
        .timeline-content .date {
            position: absolute;
            top: -30px;
        }
        .timeline ul li:hover::before {
            background-color: rgb(77, 77, 77);
        }
    }
    
    
    /*==Footer======================*/
    
    footer {
        text-align: center;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        background: linear-gradient(97deg, rgba(59, 59, 59, 0.5) 0%, rgba(8, 8, 8, 0.5) 100%);
    }
    
    footer span {
        text-align: center;
        color: rgba(255, 255, 255, 1);
    }
    
    
    /*==PreLoader==========================================*/
    
    #preloader {
        width: 2000px;
        height: 2000px;
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        z-index: 204;
        background-color: #001f52;
        transition: all ease 2s;
        overflow: hidden;
    }
    
    #preloader img {
        width: 200px;
        object-position: center;
        object-fit: contain;
        position: relative;
    }
    
    #myInput {
        opacity: 0;
    }
    
    
    /*===Making-Home-Page-Resposnsive===================*/
    
    @media(max-width:1100px) {
        .main-logo {
            max-width: 55%;
        }
        .menu li a {
            width: 180px;
            font-size: 1.3rem;
            height: 45px;
            margin: 0px 6px;
        }
        .menu li::before {
            left: 20px;
        }
    }
    
    @media(max-width:805px) {
        .menu li a, .main-play-btn {
      color: #fff;
      border: 0;
    }
        .navigation {
            background-color: #9fc1c2;
            padding: 10px;
            position: fixed;
            right: -100%;
            top: 0px;
            min-height: 100vh;
            display: block;
            max-width: 250px;
            width: 100%;
            z-index: 200;
            transition: all ease 0.5s;
        }
        .menu {
            flex-direction: column;
            margin: 30px auto 0px auto;
        }
        .menu li a {
            width: auto;
            background: none;
            box-shadow: none;
            font-size: 1.3rem;
        }
        .menu li a:hover {
            background: none;
            box-shadow: none;
            color: #fbff00;
        }
        .menu li::before {
            display: none;
        }
        .nav-close {
            width: 50px;
            height: 50px;
            color: #000000;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #7ea0a1;
            font-size: 1.4rem;
            transition: all ease 0.1s;
        }
        .nav-close:hover {
            background-color: #999999;
        }
        .nav-icon {
            color: #ffffff;
            font-size: 2.3rem;
            display: block;
            float: right;
            padding: 15px;
            z-index: 99;
            position: relative;
        }
        .fix {
            clear: both;
        }
        .main.active .navigation {
            right: 0px;
        }
        .main.active::before {
            content: '';
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.23);
            z-index: 100;
            animation: fade 0.5s;
        }
        @keyframes fade {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
    }
    
    @media(max-width:600px) {
        .main-social a {
            height: 50px;
            width: 50px;
            font-size: 1.2rem;
            margin: 5px 0px;
        }
        .main-play-btn {
            width: 150px;
            height: 45px;
            font-size: 1.6rem;
        }
        .main-link {
            flex-wrap: wrap;
        }
        .main-logo {
            max-width: 70%;
        }
        footer {
            flex-wrap: wrap;
        }
        .timeline {
            width: 100%;
        }
        .container {
            padding: 30px 0px;
        }
        #road-map h2 {
            font-size: 2rem;
        }
        #preloader img {
            width: 140px;
        }
    }
    
    @media(max-width:460px) {
        footer {
            justify-content: center;
            align-items: center;
        }
    }
    .timeline ul li:hover::before {
        background-color: rgb(77, 77, 77);
        right: -10px;
        transition: unset !important;
    }
    .timeline ul li:nth-child(even):hover::before {
        left: -10px;
    }